* {
  margin: 0;
}

body {
  margin: 0;
  background: #fff;
  background-image: url(./Images/image_geometry_1.svg);
  background-repeat: no-repeat;
}

header {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 20px 20px 0 0;
}

.headline {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #1a2236;
  margin: 21% 5% 0 5%;
}

h1,
h2 {
  font-family: "Playfair Display", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 100%;
}

.intro {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin: 20px 0;
  max-width: 500px;
  color: #1a2236;
}

.button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  max-width: 500px;
  height: 50px;
  margin: 45px 0 20px 0;
  width: 100%;
  background: #1a2236;
  color: #fff;
}

.button:hover {
  background: #fff;
  color: #1a2236;
}

.bottom-img {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bg-bottom {
  width: 100%;
  max-width: 100%;
}

.proj-section {
  display: grid;
  grid-template-columns: auto;
  margin-top: auto;
}

h2.heading {
  margin: 40px 0 32px 16px;
}

h2.about {
  margin: 51px 0 20px 0;
}

.proj-img {
  width: 100%;
  max-width: 100%;
  margin: -5px 0 -10px 0;
}

.proj-name {
  padding: 30px 0 0 20px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 20px;
  font-weight: 300;
  line-height: 80%;
}

.proj-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #1a2236;
  color: #fff;
  padding-bottom: 25px;
}

ul.languages {
  padding: 16px 0 20px 20px;
}

li.lang-used {
  list-style: none;
  float: left;
  margin-right: 10px;
  padding: 0 10px;
  font-size: 10.33px;
  background-color: #98dede;
  color: #1a2236;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

button.proj-link {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  height: 40px;
  margin-left: 20px;
  padding: 10px;
  background: #1a2236;
  color: #fff;
  border: 1px solid #fff;
}

button:hover {
  background: #fff;
  color: #1a2236;
  backdrop-filter: blur(0.5px);
}

button img {
  margin-left: 12px;
}

.introduction {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: rgb(26, 34, 54);
  margin: 0 5% 0;
}

.my-intro {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  max-width: 500px;
  color: rgb(26, 34, 54);
}

button.cv-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  max-width: 500px;
  height: 50px;
  margin: 32px 0 40px;
  width: 100%;
  background: #1a2236;
  color: #fff;
}

button.cv-btn:hover {
  background: #fff;
  color: #1a2236;
  backdrop-filter: blur(0.5px);
}

.knowledge {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.language {
  background-color: #1c528a;
  background-image: url(./Images/ic_languages_mob.svg);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
  width: auto;
  margin: 8px 16px 8px -23px;
  height: 290px;
}

.frameworks {
  background-color: #e2505c;
  background-image: url(./Images/ic_framework.svg);
  background-repeat: no-repeat;
  width: auto;
  margin: 8px 16px 8px -23px;
  height: 290px;
  background-position-x: right;
  background-position-y: bottom;
}

.skills-tool {
  background-color: #febf52;
  background-image: url(./Images/ic_skills.svg);
  background-repeat: no-repeat;
  width: auto;
  margin: 8px 16px 16px -23px;
  height: 290px;
  background-position-x: right;
  background-position-y: bottom;
}

.skill-cat {
  margin: 50px 0 20px 50px;
  font-size: 20px;
  line-height: 30px;
  font-weight: 800;
  font-style: normal;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

.skill-cat-list {
  margin-left: 30px;
  font-size: 18px;
  line-height: 27px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

.skill-cat-list.li {
  font-size: 18px;
  font-style: normal;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: #fff;
}
