* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  color: #1a2236;
}

.desk {
  display: none;
}

body {
  background: #fff;
  background-image: url(./Images/image_geometry_1.svg);
  background-repeat: no-repeat;
}

header {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 1.25rem 1.25rem 0 0;
}

.headline {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 21% 5% 0 5%;
}

h1,
h2 {
  font-family: "Playfair Display", sans-serif;
  font-size: 50px;
  font-weight: 400;
  line-height: 100%;
}

.intro {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  margin: 20px 0;
  max-width: 500px;
}

.button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-decoration: none;
  color: #fff;
  background: #1a2236;
  margin: 45px 0 20px 0;
  width: 100%;
  max-width: 500px;
  height: 50px;
}

.button:hover {
  background: #fff;
}

.bottom-img {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bg-bottom {
  width: 100%;
  max-width: 100%;
}

.proj-section {
  display: grid;
  grid-template-columns: auto;
  margin-top: auto;
}

h2.heading {
  margin: 40px 0 32px 16px;
}

h2.about {
  margin: 51px 0 20px 0;
}

.proj-img {
  width: 100%;
  max-width: 100%;
  margin: -5px 0 -10px 0;
}

.proj-name {
  font-size: 20px;
  font-weight: 300;
  line-height: 80%;
  color: #fff;
  padding: 30px 0 0 20px;
}

.proj-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #1a2236;
  padding-bottom: 25px;
}

ul.languages {
  display: flex;
  column-gap: 10px;
  padding: 16px 0 20px 20px;
}

li.lang-used {
  font-size: 10.33px;
  font-weight: 300;
  background-color: #98dede;
  list-style: none;
  padding: 0 10px;
}

button.proj-link {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  background: #1a2236;
  margin-left: 20px;
  padding: 10px;
  height: 40px;
  border: 1px solid #fff;
}

button:hover {
  color: #1a2236;
  background: #fff;
  backdrop-filter: blur(0.5px);
}

button img {
  margin-left: 12px;
}

.introduction {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: rgb(26, 34, 54);
  margin: 0 5% 0;
}

.my-intro {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: rgb(26, 34, 54);
  max-width: 500px;
}

button.cv-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  background: #1a2236;
  width: 100%;
  max-width: 500px;
  margin: 32px 0 40px;
  height: 50px;
}

button.cv-btn:hover {
  color: #1a2236;
  background: #fff;
  backdrop-filter: blur(0.5px);
}

.knowledge {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  list-style: none;
  padding: 0;
}

.language {
  background-color: #1c528a;
  background-image: url(./Images/ic_languages_mob.svg);
}

.frameworks {
  background-color: #e2505c;
  background-image: url(./Images/ic_framework.svg);
}

.skills-tool {
  background-color: #febf52;
  background-image: url(./Images/ic_skills.svg);
}

.language,
.frameworks,
.skills-tool {
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
  width: auto;
  margin: 8px 16px;
  height: 290px;
}

.skill-cat {
  font-size: 20px;
  font-weight: 800;
  line-height: 30px;
  color: #fff;
  margin: 50px 0 20px 50px;
}

.skill-cat-list {
  line-height: 27px;
  margin-left: 30px;
}

.skill-cat-list li {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: #fff;
}

footer {
  background-color: #f9f9fa;
  background-image: url(./Images/image_geometry_1.svg);
  background-repeat: no-repeat;
}

.contact-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: rgb(26, 34, 54);
  margin: 50px 5% 0 5%;
  padding: 100px 0 40px 0;
}

.contact-section p {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: -0.01em;
  margin: 20px 0 30px 0;
}

.contact-form,
.contact-form ul,
.user-input {
  display: flex;
  flex-direction: column;
}

.contact-form {
  width: 100%;
  max-width: 500px;
}

.contact-form ul {
  padding: 0;
}

.user-input {
  list-style: none;
}

.user-input label {
  position: absolute;
  font-size: 10px;
  font-weight: 400;
  line-height: 15px;
  color: #7d7c84;
  padding: 4px 16px;
}

.user-input input {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  margin-bottom: 8px;
  padding: 14px 0 0 16px;
  height: 52px;
}

.user-input input,
.user-input textarea {
  background: #fff;
  border: 1px solid #dfdfe0;
  border-radius: 4px;
}

.user-input textarea {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  padding: 15px 16px;
  height: 110px;
}

.user-input button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-decoration: none;
  color: #fff;
  background: #1a2236;
  margin: 20px 0;
  width: 100%;
  max-width: 500px;
  height: 50px;
}

.user-input button:hover {
  color: #1a2236;
  background: #fff;
}

.connect-section {
  display: flex;
  flex-direction: column;
  background-color: #1a2236;
  row-gap: 30px;
  padding: 30px 5% 40px 5%;
}

.resume-link img {
  margin-left: 16px;
}

.resume-link {
  display: flex;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #92dcdc;
}

.social-handels {
  display: flex;
  justify-content: space-between;
  padding: 0;
}
