* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  color: #1a2236;
}

.desk {
  display: none;
}

body {
  background: #fff;
  background-image: url(./Images/image_geometry_1.svg);
  background-repeat: no-repeat;
}

header {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 1.25rem 1.25rem 0 0;
}

.headline {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 15% 5% 0 5%;
}

h1,
h2 {
  font-family: "Playfair Display", sans-serif;
  font-size: 50px;
  font-weight: 400;
  line-height: 100%;
}

h1 {
  margin-bottom: 20px;
}

.intro {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  margin: 20px 0;
  max-width: 500px;
}

.button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-decoration: none;
  color: #fff;
  background: #1a2236;
  margin: 45px 0 20px 0;
  width: 100%;
  max-width: 500px;
  height: 50px;
}

.button:hover {
  background: #fff;
}

.bottom-img {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bg-bottom {
  width: 100%;
  max-width: 100%;
}

.proj-section {
  display: grid;
  grid-template-columns: auto;
  margin-top: auto;
}

h2.heading {
  margin: 40px 0 32px 16px;
}

h2.about {
  margin: 51px 0 20px 0;
}

.proj-img {
  width: 100%;
  max-width: 100%;
  margin: -5px 0 -10px 0;
}

.proj-name {
  font-size: 20px;
  font-weight: 300;
  line-height: 80%;
  color: #fff;
  padding: 30px 0 0 20px;
}

.proj-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #1a2236;
  padding-bottom: 25px;
}

ul.languages {
  display: flex;
  column-gap: 10px;
  padding: 16px 0 20px 20px;
}

li.lang-used {
  font-size: 10.33px;
  font-weight: 300;
  background-color: #98dede;
  list-style: none;
  padding: 0 10px;
}

button.proj-link {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  background: #1a2236;
  margin-left: 20px;
  padding: 10px;
  height: 40px;
  border: 1px solid #fff;
}

button:hover {
  color: #1a2236;
  background: #fff;
  backdrop-filter: blur(0.5px);
}

button img {
  margin-left: 12px;
}

.introduction {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: rgb(26, 34, 54);
  margin: 0 5% 0;
}

.my-intro {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: rgb(26, 34, 54);
  max-width: 500px;
}

button.cv-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  background: #1a2236;
  width: 100%;
  max-width: 500px;
  margin: 32px 0 40px;
  height: 50px;
}

button.cv-btn:hover {
  color: #1a2236;
  background: #fff;
  backdrop-filter: blur(0.5px);
}

.knowledge {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  list-style: none;
  padding: 0;
}

.language {
  background-color: #1c528a;
  background-image: url(./Images/ic_languages_mob.svg);
}

.frameworks {
  background-color: #e2505c;
  background-image: url(./Images/ic_framework.svg);
}

.skills-tool {
  background-color: #febf52;
  background-image: url(./Images/ic_skills.svg);
}

.language,
.frameworks,
.skills-tool {
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
  width: auto;
  margin: 8px 16px;
  height: 290px;
}

.skill-cat {
  font-size: 20px;
  font-weight: 800;
  line-height: 30px;
  color: #fff;
  margin: 50px 0 20px 50px;
}

.skill-cat-list {
  line-height: 27px;
  margin-left: 30px;
}

.skill-cat-list li {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: #fff;
}

footer {
  background-color: #f9f9fa;
  background-image: url(./Images/image_geometry_1.svg);
  background-repeat: no-repeat;
}

.contact-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: rgb(26, 34, 54);
  margin: 50px 5% 0 5%;
  padding: 100px 0 40px 0;
}

.contact-section p {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: -0.01em;
  margin: 20px 0 30px 0;
}

.contact-form,
.contact-form ul,
.user-input {
  display: flex;
  flex-direction: column;
}

.contact-form {
  width: 100%;
  max-width: 500px;
}

.contact-form ul {
  padding: 0;
}

.user-input {
  list-style: none;
}

.user-input label {
  position: absolute;
  font-size: 10px;
  font-weight: 400;
  line-height: 15px;
  color: #7d7c84;
  padding: 4px 16px;
}

.user-input input {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  margin-bottom: 8px;
  padding: 14px 0 0 16px;
  height: 52px;
}

.user-input input,
.user-input textarea {
  background: #fff;
  border: 1px solid #dfdfe0;
  border-radius: 4px;
}

.user-input textarea {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  padding: 15px 16px;
  height: 110px;
}

.user-input button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-decoration: none;
  color: #fff;
  background: #1a2236;
  margin: 20px 0;
  width: 100%;
  max-width: 500px;
  height: 50px;
}

.user-input button:hover {
  color: #1a2236;
  background: #fff;
}

.connect-section {
  display: flex;
  flex-direction: column;
  background-color: #1a2236;
  row-gap: 30px;
  padding: 30px 5% 40px 5%;
}

.resume-link img {
  margin-left: 16px;
}

.resume-link {
  display: flex;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #92dcdc;
}

.social-handels {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

@media screen and (min-width: 768px) {
  body {
    background-image: none;
  }

  .mob {
    display: none;
  }

  .desk {
    display: block;
  }

  header {
    flex-direction: row;
    justify-content: center;
    border-bottom: 1px solid #e5e5e5;
    margin: 0;
  }

  .menu {
    display: flex;
    padding: 0;
    list-style: none;
  }

  .menu li {
    padding: 10px;
    font-size: 16px;
    line-height: 24px;
    margin: 20px 15px;
  }

  a {
    text-decoration: none;
  }

  .menu a:hover {
    text-decoration: underline;
  }

  #home {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .headline {
    margin: 27% 0 0 15%;
    justify-content: space-between;
  }

  h1,
  h2 {
    font-size: 7.2vw;
  }

  .intro {
    margin: 0 4% 0 0;
  }

  .intro p {
    margin: 12% 0;
  }

  .button {
    margin: 0;
    width: 53%;
    height: 17%;
    font-size: 18px;
  }

  img.main-dots {
    align-self: flex-end;
    width: 29%;
  }

  img.main-geometry {
    width: 100%;
    max-width: 100%;
  }

  #proj {
    grid-template-columns: 21.2% 11.15% 23.25% 12.2% 20% 12.2%;
    margin-top: 12%;
  }

  .animation {
    padding: 57% 0%;
  }

  .animation .heading {
    margin: 0;
    transform: rotate(270deg);
  }

  img.proj-dots {
    max-width: 95%;
  }

  #proj-1 {
    grid-column: 3 / 7;
  }

  #proj-1 .proj-description {
    margin-top: -36%;
    position: relative;
    padding: 6% 6.2%;
    background: rgba(26, 34, 54, 0.95);
    backdrop-filter: blur(12px);
  }

  #proj-1 .proj-name {
    font-size: 4.2vw;
    font-weight: 700;
    padding: 0;
  }

  #proj-1 .languages {
    padding: 4% 0 6% 0;
    width: 100%;
  }

  #proj-1 .lang-used {
    font-size: 1.6vw;
    padding: 1.6% 3%;
  }

  #proj-1 .proj-link {
    margin: 0;
    padding: 3.3%;
    font-size: 18px;
  }

  #proj-1 button img {
    margin-left: 20px;
  }

  #proj-2 {
    grid-row: 2;
    grid-column: 1/5;
    display: flex;
    align-items: flex-end;
  }

  #proj-2 .proj-img {
    max-width: 48%;
  }

  #proj-2 .geometry {
    width: 100%;
    max-width: 52%;
    margin-bottom: -1px;
  }

  #proj-3 {
    grid-row: 3;
    grid-column: 1/5;
    display: flex;
    align-items: flex-end;
  }

  #proj-3 .proj-img {
    margin: -1px 0;
    max-width: 82%;
  }

  #proj-3 .geometry {
    max-width: 18%;
  }

  #proj-4 {
    grid-row: 4;
    grid-column: 4/6;
  }

  #proj-4 .proj-img {
    margin: -1.5px 0;
  }

  #proj-5 {
    grid-row: 3;
    grid-column: 5/7;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: -18%;
  }

  #proj-5 .proj-img {
    margin: -1px 0;
  }

  #proj-5 .geometry {
    max-width: 75%;
    margin: -1px 0;
  }

  #proj-6 {
    grid-row: 2;
    grid-column: 5/7;
  }

  #proj-6 .proj-img {
    margin: 0;
  }

  #proj-6 .proj-description {
    margin-top: -48%;
    position: relative;
    padding: 6% 6.2%;
    background: rgba(26, 34, 54, 0.95);
    backdrop-filter: blur(12px);
  }

  #proj-6 .proj-name {
    font-weight: 700;
    font-size: 2.7vw;
    padding: 0;
  }

  #proj-6 .languages {
    padding: 4% 0;
    width: 100%;
  }

  #proj-6 .lang-used {
    font-size: 1.5vw;
    padding: 2.5% 4%;
  }

  #proj-6 .proj-link {
    margin: 0;
    padding: 6.3%;
    font-size: 18px;
  }

  #proj-6 button img {
    margin-left: 20px;
  }

  .geometry-group {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    grid-row: 4;
    grid-column: 1/4;
    margin: -1px 0;
  }

  .geometry-group .geometry-5 {
    max-width: 28%;
  }

  .geometry-group .geometry-4 {
    max-width: 12%;
  }

  #about {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin: 14.5% 0 10.5% 0;
  }

  h2.about {
    margin: 6% 0 5% 0;
  }

  .introduction {
    margin: 0 0 0 7%;
    width: 40%;
  }

  button.cv-btn {
    font-size: 18px;
    margin: 8% 0;
    max-width: 48%;
    height: 38%;
  }

  ul.knowledge {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 40%;
  }

  .language,
  .frameworks,
  .skills-tool {
    margin: 0;
    padding: 16%;
    width: 100%;
    max-height: 100%;
    height: auto;
  }

  .skill-cat {
    font-size: 1.5vw;
    margin: 0 0 9% 0;
  }

  .skill-cat-list {
    margin: 0;
    padding-left: 20px;
    list-style: disc;
  }

  .skill-cat-list .li {
    font-size: 1.3vw;
    letter-spacing: -0.0525em;
  }

  .knowledge .desk {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }

  .knowledge .desk img {
    max-width: 74%;
  }

  .bg-contact {
    display: flex;
    justify-content: center;
    background: url(./Images/image_geometry_6_dt.svg) left top no-repeat, url(./Images/image_geometry_7_dt.svg) right bottom no-repeat;
    background-size: auto;
    margin: 0;
  }

  .contact-section {
    margin: 11.5% 0 10% 0;
    padding: 0;
    max-width: 38%;
  }

  .contact-form {
    max-width: 100%;
  }

  .contact-form ul {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .user-input {
    width: 47%;
  }

  .user-input label {
    position: static;
    padding: 4px 0;
    font-size: 12px;
  }

  .user-input input {
    padding: 0 16px;
  }

  .user-input.text,
  .user-input.btn {
    width: 100%;
  }

  .user-input textarea {
    height: 140px;
  }

  .user-input button {
    margin: 30px 0 0 0;
    align-self: center;
    max-width: 58%;
    height: 70px;
    max-height: 70%;
    font-size: 18px;
  }

  .connect-section {
    flex-direction: row;
    justify-content: space-between;
    padding: 3.5% 11%;
  }

  .social-handels {
    column-gap: 32px;
  }
}
